 <table class="table">
  <thead>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Patient</th>
    <th>Work</th>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.display_start_date %></td>
      <td><%= appointment.display_start_time %></td>
      <td><%= appointment.display_end_time %></td>
      <td><%= link_to appointment.patient.full_name, appointment %></td>
      <td>
        <ul>
          <% appointment.works.each do |work| %>
          <li><%= work.work_done_string %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>