<div class="row">

  <div class="col-md-12">
    <h1>Appointment Overview</h1>

    <hr />


    <!-- Basic Patient Information !-->
    <div class="well" id="patient-overview">

      <div class="row">
        <div class="col-md-2">
          <center><img src="http://placehold.it/150x150" class="img-rounded img-responsive"></center>
        </div>
        <div class="col-md-10">
          <h2><%= @patient.full_name %></h2>
          <h3><%= @appointment.display_start_date %> at <%= @appointment.display_start_time %></h3>
          <br />

          <div class="row">
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li><strong>Age:</strong> <%= @patient.age %></li>
                <li><strong>Gender:</strong> <%= @patient.gender %></li>
                <li><strong>Blood Type:</strong> AB</li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li><strong>Age:</strong> <%= @patient.age %></li>
                <li><strong>Gender:</strong> <%= @patient.gender %></li>
                <li><strong>Blood Type:</strong> AB</li>
              </ul>
            </div>
          </div>

          <hr />
          <div id="patient-medical-history">
            <h4>Medical History</h4>
            <p><%= simple_format(@patient.description) %></p>

          </div>


        </div>
      </div>

    </div>

    <!-- Appointment-specific Information !-->
    <div class="well" id="appointment-detail">
      <h2>Appointment Details</h2>

      <br />
      <%= best_in_place @appointment, :notes, type: :textarea, inner_class: 'form-control', cancel_button: 'Reset', cancel_button_class: 'btn btn-danger' %>


      <hr />

      <table class="table">
        <thead>
          <th>Type</th>
          <th>Quantity</th>
          <th>Billable?</th>
          <th>Notes</th>
        </thead>
        <tbody>
          <% @appointment.works.each do |work| %>
          <tr>
            <td>

              <%= best_in_place work, :worktype_id, type: :select, collection: Worktype.all.collect { |worktype| [worktype.id, worktype.name] } %>

            </td>
            <td><%= best_in_place work, :quantity, type: :input, inner_class: 'form-control input-sm', display_as: :work_quantity_string %></td>
            <td>
                
              <%= best_in_place work, :billable, type: :checkbox, collection: ["<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, "<span class=\"glyphicon glyphicon-ok\"></span>".html_safe] %>

            </td>
            <td><%= best_in_place work, :notes, type: :input, inner_class: 'form-control input-sm', ok_button: 'Save',  ok_button_class: 'btn btn-xs btn-primary', cancel_button: 'Cancel', cancel_button_class: 'btn btn-xs btn-default' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary">Generate Invoice</button>
    </div>


  </div>


</div>
