<div class="row">

  <div class="col-md-12">
    <h1>Appointment Overview</h1>

    <hr />


    <!-- Basic Patient Information !-->
    <%= render 'patients/patient_overview_card', patient: @patient %>
    

    <!-- Appointment-specific Information !-->
    <div class="well" id="appointment-detail">
      <h2>Appointment Details</h2>
      <h3><%= @appointment.display_start_date %> at <%= @appointment.display_start_time %></h3>


      <br />
      <div id="appointment-notes" data-toggle="tooltip" data-placement="left" title="Click the text to edit.">
        <%= best_in_place @appointment, :notes, type: :textarea, inner_class: 'form-control', cancel_button: 'Reset', cancel_button_class: 'btn btn-danger' %>
      </div>
      <hr />

      <div id="works-detail-table">
        <%= render 'works/works_detail_table', works: @appointment.works, new_work: @new_work %>
      </div>
      
      <br /><br />
      <button type="button" class="btn btn-primary">Generate Invoice</button>

    </div>


  </div>


</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#appointment-notes').tooltip()
});

</script>
